@page
@model Stockholm_Syndrome_Web.Pages.AllianceManagement.AddCorpModel

<h4 class="text-center mb-5">Add Corporation</h4>
<hr />
<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<h6 class="text-warning">To be able to add a corporation you will need to have<br /> a permanent character with director role<br /> within the corporation you wish to add.</h6>

		<a asp-controller="EveSSO" asp-action="AddCorp" class="btn btn-primary">Add</a>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
