@page
@model Stockholm_Syndrome_Web.Pages.Management.Users.EditModel
@{
	ViewData["Title"] = "Management -";
}

<hr />
<div class="row justify-content-center">
	<div class="col-md-4 border-fancy py-2">
		<h4 class="text-center">@Model.ApplicationUser.UserName</h4>

		<div class="row justify-content-between mb-3">
			<div class="col border-fancy mx-3 py-3">
				<p class="text-primary text-center">Roles</p>
				<form method="post">
					@{
						for (int i = 0; i < Model.applicationRoles.Count; i++)
						{
							@if (Model.RoleItems[i].RoleId == 1 || Model.RoleItems[i].IsManaged == true)
							{
								<input type="checkbox" disabled asp-for="RoleItems[i].IsChecked">
							}
							else
							{
								<input type="checkbox" asp-for="RoleItems[i].IsChecked">
							}
							<label asp-for="RoleItems[i].RoleName">@Model.RoleItems[i].RoleName</label>
							<br />
						}
					}
					<input type="submit" value="Save" class="btn btn-primary" />
				</form>
			</div>
		</div>
		<a asp-page="./Index">Back to List</a>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
