@page
@model Stockholm_Syndrome_Web.Pages.Management.IndexModel
@{
    ViewData["Title"] = "Management -";
}

<div class="row justify-content-md-center mt-5">
    <div class="col-md-6 border-fancy">
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Default Character</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.userRoles)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.EveCharacter
                        </td>
                        <td>
                            @foreach (var role in item.Roles)
                            {
                                <text>@role</text>
                            }

                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>