@page
@model Stockholm_Syndrome_Web.Pages.Operations.CreateModel

<h4 class="text-center">Ops</h4>
<hr />
<div class="container">
	<form method="post">
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col-5 m-md-4">
				<div>
					<h3>Calculate from countdown</h3>
					
				</div>
				<div class="form-group">
					<label asp-for="Ops.OpsTime" class="control-label"></label>
					<input asp-for="Ops.OpsTime" class="form-control" />
					<span asp-validation-for="Ops.OpsTime" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ops.StagingSystemName" class="control-label"></label>
					<input asp-for="Ops.StagingSystemName" class="form-control" />
					<span asp-validation-for="Ops.StagingSystemName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ops.TargetSystemName" class="control-label"></label>
					<input asp-for="Ops.TargetSystemName" class="form-control" />
					<span asp-validation-for="Ops.TargetSystemName" class="text-danger"></span>
				</div>
			</div>
			<div class="col-5 m-md-4">
				<div class="form-group">
					<label asp-for="Ops.FcName" class="control-label"></label>
					<input asp-for="Ops.FcName" class="form-control" />
					<span asp-validation-for="Ops.FcName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ops.Description" class="control-label"></label>
					<textarea asp-for="Ops.Description" class="form-control" rows="5" style="resize:none"></textarea>
					<span asp-validation-for="Ops.Description" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row mx-md-5 border-fancy justify-content-center">
			<div class="form-group">
				<a asp-page="Index" class="btn btn-primary mt-3 mx-3" style="width:110px">Back to List</a>
				<input type="submit" value="Create" class="btn btn-primary mt-3 mx-3" style="width:200px" />
			</div>
		</div>
	</form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
