@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="mt-4 row justify-content-md-center">
        <div class="mt-4 col-3 align-middle">
            <div class="text-center border-fancy">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <p>You have successfully logged out.</p>
                <p>Have a nice day o/</p>
            </div>        
        </div>
    </div>
</header>